/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
/* Aplicar la fuente Poppins */
body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300; /* Títulos un poco más gruesos */
}
.title-h1 {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 3rem;
  color: #cf752f;
}

.title-date {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 2rem;
  color: #cf752f;
  text-align: center;
}

.img_logo_horizontal_svg {
  width: 100%;
  height: 5rem;
  object-fit: contain;
  /* margin-bottom: 2rem; */
  margin-top: 3rem;
}

footer {
  background-color: #f8f8f8; /* Fondo claro */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  border-top: 1px solid #e0e0e0; /* Separador sutil */
  padding: 10vh 0;

  h2 {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;

    &.footer_plaza {
      font-weight: 600;
      font-size: 1.2rem;
    }

    &.footer_pabellon {
      font-weight: 500;
      color: #555;
    }

    &.footer_whatsapp {
      font-weight: 600;
    }

    &.footer_ciudad {
      color: #777;
      font-weight: 400;
    }
  }

  .img_qr_code_svg {
    width: 100%;
    height: 25rem;
    object-fit: contain;
    padding: 3rem;
  }
  .footer-copyright {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1rem;
    color: #333;
  }
}

.fullscreen-btn {
  position: fixed;
  bottom: 80px; /* encima del WhatsApp */
  right: 22px;
  background-color: #1890ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 14px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
}

.fullscreen-btn:hover {
  background-color: #096dd9;
}

.fullscreen-btn i {
  font-size: 18px;
}
